img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 25%;
}
input[type="search"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
.button1 {
    margin-left: 40%;
}
.button2 {
    margin-right: 40%;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
